.resultado{
	padding: 20px;
}
.resultado__botones{
	max-width: 600px;
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	column-gap: 10px;
	-webkit-column-gap: 10px;
	row-gap: 10px;
}
.resultado__botones svg path{
	stroke: currentColor;
}
.resultado__ups div{
	min-height: 100vh;
	background-image: url("/svg/ups.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.resultado__ups p{
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	padding: 20px;
	background: var(--btn-toast);
	border: 1px solid var(--border-color-1);
	border-radius: 5px;
}