*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap%27");

body{
    background-color: #111827;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.header__imgMobile{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
.header__desktop{
    display: none;
}
.header svg{
    width: 25px;
    height: 25px;
}
.header__menu{
    display: flex;
    flex-direction: row;
}
.header a{
    display: flex;
    align-items: center;
    color: white;
    padding: 15px 10px;
    gap: 8px;
    text-decoration: none;
}
#menu-modal{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    top: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 8px 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#menu-modal span{
    width: 80%;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
#todas-herramientas{
    position: absolute;
    width: 100%;
    top: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    border-radius: 0 0 8px 8px;
    flex-direction: column;
    align-items: center;
    display: none;
}
#todas-herramientas span{
    font-size: 20px;
    margin-bottom: 20px;
}
#todas-herramientas ul{
    list-style: none;
}
.button-login{
    display: none !important;
}
@media screen and (min-width: 700px){
    .header__desktop{
        display: flex;
    }
    .header__desktop-img{
        display: none;
    }
    .header__desktop a:nth-child(2){
        display: none;
    }
    .header__menu-btn{
        display: none !important;
    }
}
@media screen and (min-width: 1100px){
    .header{
        padding: 0 1rem;
    }
    .header__desktop{
        padding-left: 20px;
        justify-content: space-around;
        align-items: center;
    }
    .header__imgMobile{
        display: none;
    }
    .header__desktop a:nth-child(2){
        display: flex;
    }
    .header__desktop-img{
        display: inline-block;
    }
    .header img{
        width: 250px;
    }
    .menu{
        display: none !important;
    }
    .header a{
        padding: 14px;
    }
    .button-login{
        display: flex !important;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        margin: 10px 0;
        transition: 0.3s;
    }
    .button-login:hover{
        background-color: rgba(0, 0, 0, 0.8);
    }
}