.item {
	background: var(--color-toast);
	width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
	transition: var(--transition-3s);
	border: 1px solid var(--color-box-hover);
	position: relative;
}
.item:last-child {
	margin-bottom: 0;
}
.item:hover {
	background: var(--color-toast-hover);
}
.item:hover .item__preview {
	opacity: 1;
	visibility: visible;
	animation: item__preview 0.5s ease-in-out;
}
.item__preview {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: var(--transition-3s);
	z-index: 1;
	width: 180px;
	height: 180px;
	pointer-events: none;
}
@keyframes item__preview {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}
.item__preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.item__box {
	padding: 6px 10px 6px 20px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	column-gap: 10px;
	-webkit-column-gap: 10px;
	row-gap: 10px;
	padding-right: 100px;
}
.item__left {
	width: fit-content;
}
.item__left img {
	width: 50px;
	height: 50px;
	min-width: 50px;
	object-fit: contain;
}
.item__box .item__titulo,
.item__box .item__peso {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 16px;
}
.item__box .item__peso {
	min-width: fit-content;
	width: fit-content;
	margin-left: 40px;
	margin-right: auto;
	text-align: left;
}
.item__botones {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	height: 100%;
	width: fit-content;
	display: flex;
	align-items: center;
	column-gap: 10px;
	-webkit-column-gap: 10px;
	margin-left: auto;
	padding-right: 10px;
}
.item__btn-eliminar {
	color: var(--red);
}
.item__btn-eliminar:active {
	color: var(--red-hover);
}
.item__btn-descargar {
	color: var(--sky);
}
.item__btn-descargar svg {
	width: 20px;
	height: 20px;
	min-width: 20px;
	min-height: 20px;
}
.item__iconUpload {
	margin-right: 10px;
}
.item__loader {
	grid-column: 1/-1;
	width: 0;
	background: var(--white);
	height: 4px;
	animation: completado 1s linear forwards;
}
@keyframes completado {
	0% {
		width: 0%;
		background: var(--white);
	}
	50% {
		background: var(--purple);
	}
	100% {
		background: var(--sky);
		width: 100%;
	}
}
@media (max-width: 400px) {
	.item__box .item__peso {
		margin-left: 20px;
	}
}
