.lista {
	padding: 20px;
}
.lista__contenedor {
	min-height: 200px;
	padding-right: 10px;
	max-height: 620px;
	overflow: auto;
	margin-bottom: 20px;
	word-break: break-all;
}
.lista .btn_primary--padding {
	padding-right: 10px;
}
