@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap%27');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--white: #fff;
	--background: rgb(15 23 42);
	--color-toast: rgb(23, 33, 56);
	--btn-toast: rgb(31, 45, 78);
	--btn-toast-hover: rgb(36, 51, 84);
	--color-text: rgb(226 232 240);
	--color-parrafos: rgb(158, 177, 205);
	--color-texto-drop: #a4a8ad;
	--drop-color-svg: #00c7b6ff;
	--color-box: rgb(17, 27, 49);
	--color-box-hover: rgb(22, 33, 59);
	--color-box-item: #151a1e;
	--color-drop-ring: #054861;
	--sky: rgb(49, 202, 189);
	--purple: #8781ee;
	--drop-color-svg-no-valid: #f34949;
	--scroll-color: rgb(17, 27, 49);
	--scroll-color-item: rgb(26, 38, 61);
	--scroll-color-active: rgb(17, 32, 62);
	--border-color-1: rgb(17, 32, 62);
	--transition-3s: all 0.3s ease;
	--transition-5s: all 0.5s ease;
	--transition-8s: all 0.8s ease;

	--font-1: 'Roboto', sans-serif;
	--font-2: 'Roboto Condensed', sans-serif;
}
html {
	color-scheme: dark;
	scroll-behavior: smooth;
}
body {
	color: var(--color-text);
	font-family: var(--font-1);
	min-width: 326px;
	background-color: var(--background);
	word-break: break-all;
}
/*=============== RESET ===============*/
svg {
	width: 25px;
	height: 25px;
	min-width: 25px;
	min-height: 25px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: currentColor;
}
button {
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
}
input,
textarea,
select {
	outline: none;
	border: none;
	background: transparent;
}
p {
	color: var(--color-parrafos);
}
/*=============== UTILIDADES ===============*/
.container {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}
.sky {
	color: var(--sky);
}
.scroll-1::-webkit-scrollbar {
	width: 10px;
	height: 5px;
	background: var(--scroll-color);
}
.scroll-1::-webkit-scrollbar-thumb {
	background: var(--scroll-color-item);
}
.scroll-1::-webkit-scrollbar-thumb:active {
	background: var(--scroll-color-active);
}
.p-item {
	padding: 10px;
}
.d-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;
	-webkit-column-gap: 10px;
	row-gap: 10px;
}
.btn_primary {
	display: flex;
	align-items: center;
	justify-content: center;
	row-gap: 10px;
	column-gap: 10px;
	-webkit-column-gap: 10px;
	color: #fff;
	border: none;
	min-height: 46px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	text-align: center;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
	background: linear-gradient(to top, #2563eb, #60a5fa);
	transition: var(--transition-3s);
}
.btn_primary:active {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
	transform: scale(0.95);
}
.btn_primary:hover {
	background: linear-gradient(to top, #2563eb, #2563eb);
}

/*=============== CLASES TOAST ===============*/
.go2072408551 {
	background: var(--color-toast) !important;
	border: 1px solid var(--color-box-hover) !important;
}
.toast-warning {
	font-size: 14px;
}
.btn-error {
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	-webkit-column-gap: 10px;
	color: var(--white);
	background: var(--btn-toast);
	padding: 10px;
	border-radius: 5px;
	margin-left: auto;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid var(--color-box-hover);
	transition: var(--transition-3s);
	min-width: fit-content;
}
.toast-warning p {
	margin-bottom: 10px;
	color: var(--drop-color-svg-no-valid);
	font-size: 14px;
}
.btn-error:hover {
	background: var(--btn-toast-hover);
}
